
.content{
    left: var(--Xleft);
    position:absolute ;
    color: aliceblue;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px;
    width: 150px;
    word-wrap: break-word;  
    background-color: rgba(0,0,0,0.7);
}