@font-face {
  font-family: "iconfont"; /* Project id 3564303 */
  src: url('iconfont.woff2?t=1659502722550') format('woff2'),
       url('iconfont.woff?t=1659502722550') format('woff'),
       url('iconfont.ttf?t=1659502722550') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gailan:before {
  content: "\e631";
}

.icon-yichangguanli:before {
  content: "\e682";
}

.icon-HTTP-Response:before {
  content: "\e60e";
}

.icon-yewuxingnengjiankong:before {
  content: "\e6ab";
}

.icon-yonghuhangweifenxi:before {
  content: "\ea41";
}

.icon-wenhao:before {
  content: "\e72d";
}

